In [3]:
import json
import requests

# Load secrets from credentials.json
url = 'https://api.foursquare.com/v2/venues/explore'
with open('.secrets/credentials.json') as f:
    params = json.load(f)

In [63]:
params['v'] = '20180323'
params['ll'] = '47.608,-122.3359',
params['query'] = 'film',
params['limit'] = 50

response = requests.get(url=url, params=params)
data = json.loads(response.text)

In [5]:
data.keys()

dict_keys(['meta', 'response'])

In [24]:
len(data['response']['groups'][0]['items'])

12

In [64]:
results = data['response']['groups'][0]['items']

In [65]:
venues = []
venue_names = []
venue_cats = []
for result in results:
    venues.append(result['venue'])
    venue_names.append(result['venue']['name'])
    venue_cats.append(result['venue']['categories'][0]['name'])

In [66]:
venue_cats, venue_names

(['Movie Theater',
  'Movie Theater',
  'Theater',
  'Movie Theater',
  'Movie Theater',
  'Pub',
  'Art Museum',
  'History Museum',
  'Pharmacy',
  'Indie Movie Theater',
  'Movie Theater',
  'Farmers Market',
  'Performing Arts Venue',
  'Bar',
  'Food',
  'Multiplex',
  'Video Store',
  'Movie Theater'],
 ['Cinerama',
  'Big Picture Seattle',
  'ACT Theatre',
  'Regal Cinemas Meridian 16',
  'Northwest Film Forum',
  'Virginia Inn Tavern',
  'Frye Art Museum',
  'Klondike Gold Rush National Historical Park',
  'Bartell Drugs',
  'Siff Cinema at the Film Center',
  'Community Cinema at Frye Art Museum',
  "Mama Angelina's Produce",
  'Re-Bar',
  'The Grotto at Rendezvous',
  'Filmi South Asia',
  'SeeFilms Bremerton #10',
  'Vehicle Films',
  'Olympia Film Society'])

In [28]:
import pymongo
mc = pymongo.MongoClient()
db = mc['foursquare']
coll = db['pilates']

coll.insert_many(venues)

In [30]:
import pandas as pd
pd.DataFrame(venues).head()

,_id,beenHere,categories,contact,hereNow,id,location,name,photos,stats,venuePage,verified
0,5cc216083fba6363ed5e2346,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '4bf58dd8d48988d176941735', 'name': 'G...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4597de79f964a5207b401fe3,"{'address': '1325 6th Ave', 'crossStreet': 'at...",Washington Athletic Club,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",NaN,False
1,5cc216083fba6363ed5e2347,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '4bf58dd8d48988d176941735', 'name': 'G...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4a427125f964a520dea51fe3,"{'address': '1813 7th Ave', 'lat': 47.61400529...",ZUM fitness,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",{'id': '63557214'},True
2,5cc216083fba6363ed5e2348,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '4bf58dd8d48988d176941735', 'name': 'G...",{},"{'count': 1, 'summary': 'One other person is h...",4a8c22ecf964a520090d20e3,"{'address': '2020 Western Ave', 'lat': 47.6106...",Seattle Athletic Club,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",NaN,True
3,5cc216083fba6363ed5e2349,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '5744ccdfe4b0c0459246b4b2', 'name': 'P...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4e31dc941f6e313d8b66fa25,"{'address': '314 1st Ave S', 'lat': 47.5995221...",Kinesia Pilates Studio,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",{'id': '48823099'},True
4,5cc216083fba6363ed5e234a,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","[{'id': '5744ccdfe4b0c0459246b4b2', 'name': 'P...",{},"{'count': 0, 'summary': 'Nobody here', 'groups...",4b6aff32f964a52076eb2be3,"{'address': '500 E Pike St', 'lat': 47.6134092...",Element Pilates,"{'count': 0, 'groups': []}","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...",NaN,False